
<div class="form-group pull-right">
    <input type="text" class="search form-control" placeholder="Enter Tracking Id">
</div>
<table class="table table-striped">
    <thead>
      <tr>
        <th>Tracking Id</th>
        <th>Event Type</th>
        <th>Message Status  </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>


<div>
   <button (click)="loadUser()">Load profile</button>
    {{ profile | json }}
  </div>